Test/Platform/Tests/CLR/DPWS/WSDL/ArrayTypes.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/ArrayTypeCheck"
    xmlns:tns="http://schemas.example.org/ArrayTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/ArrayTypeCheck"
        xmlns:tns="http://schemas.example.org/ArrayTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">

      <!-- ========================================================== -->
      <!-- TypeCheck message -->
      <!-- This verfies handling of specific types by sending them
                 to the service and verifying the service echoes them back
                 correctly -->

      <xs:element name="ByteArrayCheckRequest" type="tns:ByteArrayCheckType" />
      <xs:complexType name="ByteArrayCheckType">
        <xs:sequence>
          <xs:element name="ByteArrayCheck" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="ByteArrayCheckMessageIn">
    <wsdl:part name="parameters" element="tns:ByteArrayCheckRequest" />
  </wsdl:message>
  <wsdl:message name="ByteArrayCheckMessageOut">
    <wsdl:part name="parameters" element="tns:ByteArrayCheckRequest" />
  </wsdl:message>
  
  <wsdl:portType name="ArrayTypeCheck">
    <wsdl:operation name="ByteArrayCheck">
      <wsdl:input
          message="tns:ByteArrayCheckMessageIn"
          wsa:Action="http://schemas.example.org/ArrayTypeCheck/ByteArrayCheckRequest"/>
      <wsdl:output
          message="tns:ByteArrayCheckMessageOut"
          wsa:Action="http://schemas.example.org/ArrayTypeCheck/ByteArrayCheckRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ArrayTypeCheckSoap12Binding" type="tns:ArrayTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="ByteArrayCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/ArrayTypeCheck/ByteArrayCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ArrayTypeCheck">
    <wsdl:port
        name="ArrayTypeCheckPort"
        binding="tns:ArrayTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/ArrayTypeCheck.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>