Test/Platform/Tests/CLR/DPWS/WSDL/FloatingPointTypes.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/FloatingPointTypeCheck"
    xmlns:tns="http://schemas.example.org/FloatingPointTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/FloatingPointTypeCheck"
        xmlns:tns="http://schemas.example.org/FloatingPointTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">
      <xs:element name="SingleCheckRequest" type="xs:float" />
      <xs:element name="DoubleCheckRequest" type="xs:double" />
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="SingleCheckMessageIn">
    <wsdl:part name="parameters" element="tns:SingleCheckRequest" />
  </wsdl:message>
  <wsdl:message name="SingleCheckMessageOut">
    <wsdl:part name="parameters" element="tns:SingleCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DoubleCheckMessageIn">
    <wsdl:part name="parameters" element="tns:DoubleCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DoubleCheckMessageOut">
    <wsdl:part name="parameters" element="tns:DoubleCheckRequest" />
  </wsdl:message>

  <wsdl:portType name="FloatingPointTypeCheck">
    <wsdl:operation name="SingleCheck">
      <wsdl:input
          message="tns:SingleCheckMessageIn"
          wsa:Action="http://schemas.example.org/FloatingPointTypeCheck/SingleCheckRequest"/>
      <wsdl:output
          message="tns:SingleCheckMessageOut"
          wsa:Action="http://schemas.example.org/FloatingPointTypeCheck/SingleCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="DoubleCheck">
      <wsdl:input
          message="tns:DoubleCheckMessageIn"
          wsa:Action="http://schemas.example.org/FloatingPointTypeCheck/DoubleCheckRequest"/>
      <wsdl:output
          message="tns:DoubleCheckMessageOut"
          wsa:Action="http://schemas.example.org/FloatingPointTypeCheck/DoubleCheckRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="FloatingPointTypeCheckSoap12Binding" type="tns:FloatingPointTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="SingleCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/FloatingPointTypeCheck/SingleCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoubleCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/FloatingPointTypeCheck/DoubleCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="FloatingPointTypeCheck">
    <wsdl:port
        name="FloatingPointTypeCheckPort"
        binding="tns:FloatingPointTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/FloatingPointTypeCheck.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>