Test/Platform/Tests/CLR/DPWS/WSDL/IntegerTypes.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/IntegerTypeCheck"
    xmlns:tns="http://schemas.example.org/IntegerTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/IntegerTypeCheck"
        xmlns:tns="http://schemas.example.org/IntegerTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">
      <xs:element name="BoolCheckRequest" type="xs:boolean" />
      <xs:element name="Int64CheckRequest" type="xs:long" />
      <xs:element name="Int32CheckRequest" type="xs:int" />
      <xs:element name="Int16CheckRequest" type="xs:short" />
      <xs:element name="SByteCheckRequest" type="xs:byte" />
      <xs:element name="UInt64CheckRequest" type="xs:unsignedLong" />
      <xs:element name="UInt32CheckRequest" type="xs:unsignedInt" />
      <xs:element name="UInt16CheckRequest" type="xs:unsignedShort" />
      <xs:element name="ByteCheckRequest" type="xs:unsignedByte" />
    </xs:schema>
  </wsdl:types>


  <wsdl:message name="BoolCheckMessageIn">
    <wsdl:part name="parameters" element="tns:BoolCheckRequest" />
  </wsdl:message>
  <wsdl:message name="BoolCheckMessageOut">
    <wsdl:part name="parameters" element="tns:BoolCheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int64CheckMessageIn">
    <wsdl:part name="parameters" element="tns:Int64CheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int64CheckMessageOut">
    <wsdl:part name="parameters" element="tns:Int64CheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int32CheckMessageIn">
    <wsdl:part name="parameters" element="tns:Int32CheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int32CheckMessageOut">
    <wsdl:part name="parameters" element="tns:Int32CheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int16CheckMessageIn">
    <wsdl:part name="parameters" element="tns:Int16CheckRequest" />
  </wsdl:message>
  <wsdl:message name="Int16CheckMessageOut">
    <wsdl:part name="parameters" element="tns:Int16CheckRequest" />
  </wsdl:message>
  <wsdl:message name="SByteCheckMessageIn">
    <wsdl:part name="parameters" element="tns:SByteCheckRequest" />
  </wsdl:message>
  <wsdl:message name="SByteCheckMessageOut">
    <wsdl:part name="parameters" element="tns:SByteCheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt64CheckMessageIn">
    <wsdl:part name="parameters" element="tns:UInt64CheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt64CheckMessageOut">
    <wsdl:part name="parameters" element="tns:UInt64CheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt32CheckMessageIn">
    <wsdl:part name="parameters" element="tns:UInt32CheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt32CheckMessageOut">
    <wsdl:part name="parameters" element="tns:UInt32CheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt16CheckMessageIn">
    <wsdl:part name="parameters" element="tns:UInt16CheckRequest" />
  </wsdl:message>
  <wsdl:message name="UInt16CheckMessageOut">
    <wsdl:part name="parameters" element="tns:UInt16CheckRequest" />
  </wsdl:message>
  <wsdl:message name="ByteCheckMessageIn">
    <wsdl:part name="parameters" element="tns:ByteCheckRequest" />
  </wsdl:message>
  <wsdl:message name="ByteCheckMessageOut">
    <wsdl:part name="parameters" element="tns:ByteCheckRequest" />
  </wsdl:message>
  
  <wsdl:portType name="IntegerTypeCheck">
    <wsdl:operation name="BoolCheck">
      <wsdl:input
          message="tns:BoolCheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/BoolCheckRequest"/>
      <wsdl:output
          message="tns:BoolCheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/BoolCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Int64Check">
      <wsdl:input
          message="tns:Int64CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int64CheckRequest"/>
      <wsdl:output
          message="tns:Int64CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int64CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Int32Check">
      <wsdl:input
          message="tns:Int32CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int32CheckRequest"/>
      <wsdl:output
          message="tns:Int32CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int32CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Int16Check">
      <wsdl:input
          message="tns:Int16CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int16CheckRequest"/>
      <wsdl:output
          message="tns:Int16CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/Int16CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SByteCheck">
      <wsdl:input
          message="tns:SByteCheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/SByteCheckRequest"/>
      <wsdl:output
          message="tns:SByteCheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/SByteCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="UInt64Check">
      <wsdl:input
          message="tns:UInt64CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt64CheckRequest"/>
      <wsdl:output
          message="tns:UInt64CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt64CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="UInt32Check">
      <wsdl:input
          message="tns:UInt32CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt32CheckRequest"/>
      <wsdl:output
          message="tns:UInt32CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt32CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="UInt16Check">
      <wsdl:input
          message="tns:UInt16CheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt16CheckRequest"/>
      <wsdl:output
          message="tns:UInt16CheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/UInt16CheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ByteCheck">
      <wsdl:input
          message="tns:ByteCheckMessageIn"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/ByteCheckRequest"/>
      <wsdl:output
          message="tns:ByteCheckMessageOut"
          wsa:Action="http://schemas.example.org/IntegerTypeCheck/ByteCheckRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="IntegerTypeCheckSoap12Binding" type="tns:IntegerTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="BoolCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/BoolCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Int64Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/Int64CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Int32Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/Int32CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Int16Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/Int16CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SByteCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/SByteCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UInt64Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/UInt64CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UInt32Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/UInt32CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UInt16Check">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/UInt16CheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/IntegerTypeCheck/ByteCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="IntegerTypeCheck">
    <wsdl:port
        name="IntegerTypeCheckPort"
        binding="tns:IntegerTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/TimeTypeCheck.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>