Test/Platform/Tests/CLR/DPWS/WSDL/LightingSwitch.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  The Web Service Description Language ("WSDL") provided herein is subject to the following:  
  
  Exceptional Innovation reserves the right to update or change the WSDL at any time without notice to 
  you.  The WSDL is protected by the copyright laws of the United States and other applicable laws. 
  © Exceptional Innovation 2007.  All Rights Reserved.  

  The WSDL is made available by Exceptional Innovation via a royalty free license for use in developing 
  hardware and software that is compliant with the WSDL. Suggestions and comments regarding the WSDL 
  can be sent to WSDL@life-ware.com. All suggestions and comments become the property of 
  Exceptional Innovation.  Exceptional Innovation reserves the right to use or implement any submitted 
  suggestion or comment without notice, and to submit the WSDL to a standards body.

  THE WSDL IS BEING PROVIDED “AS IS” AND WITHOUT WARRANTY.  ALL USE OF THE WSDL IS AT YOUR OWN RISK.  
  EXCEPTIONAL INNOVATION HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS, IMPLIED OR 
  STATUTORY, WITH REGARD TO THE WSDL, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR CONDITIONS OF 
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
  EXCEPTIONAL INNOVATION HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE WSDL, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS,   IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
-->
<wsdl:definitions 
  targetNamespace="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch" 
  xmlns:tns="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch" 
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof" 
	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wst="http://schemas.xmlsoap.org/ws/2004/09/transfer"
  >

  <wsp:Policy wsu:Id="EventingPolicy" >
    <wsdp:Profile />
    <wsdp:PushDelivery />
    <wsdp:DurationExpiration />
    <wsdp:ActionFilter />
  </wsp:Policy>

  <!-- Note: Some code gen tools automatically import Transfer.wsdl and Eventing.wsdl for DPWS devices. If you are not using one of these -->
  <!-- code gen tools you must import Transfer and Eventing using the tool of your choice for DPWS compliance. -->

  <!-- Types -->
  <wsdl:types>
    <xs:schema
  targetNamespace="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch"
  xmlns:tns="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  blockDefault="#all"
  elementFormDefault="qualified" >
      
      <xs:element name="SwitchLevel" type="xs:boolean" />

      <!-- State -->
      <xs:element name="State" type="tns:StateType" />
      <xs:complexType name="StateType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="LastChanged" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServiceId" type="xs:anyURI" />
          <xs:element minOccurs="1" maxOccurs="1" name="SwitchLevel" type="xs:boolean" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>

      <!-- Settings -->
      <xs:element name="Settings" type="tns:SettingsType" />
      <xs:complexType name="SettingsType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ServiceId" type="xs:anyURI" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      
    </xs:schema>
  </wsdl:types>

  <!-- Messages -->

  <!-- Switch -->
  <wsdl:message name="GetSwitchLevelMessageIn" />
  <wsdl:message name="GetSwitchLevelMessageOut">
    <wsdl:part name="parameters" element="tns:SwitchLevel" />
  </wsdl:message>
  <wsdl:message name="SetSwitchLevelMessageIn">
    <wsdl:part name="parameters" element="tns:SwitchLevel" />
  </wsdl:message>
  <wsdl:message name="SetSwitchLevelMessageOut" />

  <!-- Events -->
  <wsdl:message name="StateChangedMessageOut">
    <wsdl:part name="parameters" element="tns:State" />
  </wsdl:message>

  <!-- State -->
  <wsdl:message name="GetStateMessageIn" />
  <wsdl:message name="GetStateMessageOut">
    <wsdl:part name="parameters" element="tns:State" />
  </wsdl:message>

  <!-- Settings -->
  <wsdl:message name="GetSettingsMessageIn" />
  <wsdl:message name="GetSettingsMessageOut">
    <wsdl:part name="parameters" element="tns:Settings" />
  </wsdl:message>

  <!-- Port Type Operations -->
  <!-- Note: The Action attribute is not required due to the naming convention used for input and output parameters -->
  <!-- but is provided here for some code generators and clarity. -->
  <wsdl:portType name="Control" wse:EventSource="true" >

    <!-- Switch -->
    <wsdl:operation name="GetSwitchLevel">
      <wsdl:input message="tns:GetSwitchLevelMessageIn"
        wsa:Action="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/GetSwitchLevelRequest"/>
      <wsdl:output message="tns:GetSwitchLevelMessageOut"
        wsa:Action="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/GetSwitchLevelResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SetSwitchLevel">
      <wsdl:input message="tns:SetSwitchLevelMessageIn"
        wsa:Action="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/SetSwitchLevelRequest"/>
      <wsdl:output message="tns:SetSwitchLevelMessageOut"
        wsa:Action="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/SetSwitchLevelResponse"/>
    </wsdl:operation>

    <!-- State -->
    <wsdl:operation name="GetState">
      <wsdl:input message="tns:GetStateMessageIn"
        wsa:Action="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/GetStateRequest"/>
      <wsdl:output message="tns:GetStateMessageOut"
        wsa:Action="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/GetStateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="StateChanged">
      <wsdl:output message="tns:StateChangedMessageOut"
        wsa:Action="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/StateChanged"/>
    </wsdl:operation>

    <!-- Settings -->
    <wsdl:operation name="GetSettings">
      <wsdl:input message="tns:GetSettingsMessageIn"
        wsa:Action="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/GetSettingsRequest"/>
      <wsdl:output message="tns:GetSettingsMessageOut"
        wsa:Action="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/GetSettingsResponse"/>
    </wsdl:operation>

  </wsdl:portType>

  <!-- Bindings -->
  <wsdl:binding name="ControlBinding" type="tns:Control" >
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#EventingPolicy" wsdl:required="true" />

    <!-- Switch -->
    <wsdl:operation name="GetSwitchLevel">
      <wsoap12:operation soapAction="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/GetSwitchLevel" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSwitchLevel">
      <wsoap12:operation soapAction="http://schemas.exceptionalinnovation.com/device/2006/04/LightingSwitch/Control/SetSwitchLevel" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- State -->
    <wsdl:operation name="GetState">
      <wsoap12:operation soapAction="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/GetState" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateChanged">
      <wsoap12:operation
        soapAction="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/State/StateChanged"/>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- Settings -->
    <wsdl:operation name="GetSettings">
      <wsoap12:operation soapAction="http://schemas.exceptionalinnovation.com/ws/2006/04/Service/Settings/GetSettings" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

</wsdl:definitions>