Test/Platform/Tests/CLR/DPWS/WSDL/StringTypes.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/StringTypeCheck"
    xmlns:tns="http://schemas.example.org/StringTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/StringTypeCheck"
        xmlns:tns="http://schemas.example.org/StringTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">

      <xs:element name="ObjectCheckRequest" type="xs:anyType" />
      <xs:element name="UriCheckRequest" type="tns:UriCheckRequestType" />
      <xs:complexType name="UriCheckRequestType">
        <xs:sequence>
          <xs:element name="UriCheck" type="xs:anyURI" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="StringCheckRequest" type="xs:string" />
      <xs:element name="DecimalCheckRequest" type="xs:decimal" />
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="ObjectCheckMessageIn">
    <wsdl:part name="parameters" element="tns:ObjectCheckRequest" />
  </wsdl:message>
  <wsdl:message name="ObjectCheckMessageOut">
    <wsdl:part name="parameters" element="tns:ObjectCheckRequest" />
  </wsdl:message>
  <wsdl:message name="UriCheckMessageIn">
    <wsdl:part name="parameters" element="tns:UriCheckRequest" />
  </wsdl:message>
  <wsdl:message name="UriCheckMessageOut">
    <wsdl:part name="parameters" element="tns:UriCheckRequest" />
  </wsdl:message>
  <wsdl:message name="StringCheckMessageIn">
    <wsdl:part name="parameters" element="tns:StringCheckRequest" />
  </wsdl:message>
  <wsdl:message name="StringCheckMessageOut">
    <wsdl:part name="parameters" element="tns:StringCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DecimalCheckMessageIn">
    <wsdl:part name="parameters" element="tns:DecimalCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DecimalCheckMessageOut">
    <wsdl:part name="parameters" element="tns:DecimalCheckRequest" />
  </wsdl:message>
  
  <wsdl:portType name="StringTypeCheck">
    <wsdl:operation name="ObjectCheck">
      <wsdl:input
          message="tns:ObjectCheckMessageIn"
          wsa:Action="http://schemas.example.org/StringTypeCheck/ObjectCheckRequest"/>
      <wsdl:output
          message="tns:ObjectCheckMessageOut"
          wsa:Action="http://schemas.example.org/StringTypeCheck/ObjectCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="UriCheck">
      <wsdl:input
          message="tns:UriCheckMessageIn"
          wsa:Action="http://schemas.example.org/StringTypeCheck/UriCheckRequest"/>
      <wsdl:output
          message="tns:UriCheckMessageOut"
          wsa:Action="http://schemas.example.org/StringTypeCheck/UriCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="StringCheck">
      <wsdl:input
          message="tns:StringCheckMessageIn"
          wsa:Action="http://schemas.example.org/StringTypeCheck/StringCheckRequest"/>
      <wsdl:output
          message="tns:StringCheckMessageOut"
          wsa:Action="http://schemas.example.org/StringTypeCheck/StringCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="DecimalCheck">
      <wsdl:input
          message="tns:DecimalCheckMessageIn"
          wsa:Action="http://schemas.example.org/StringTypeCheck/DecimalCheckRequest"/>
      <wsdl:output
          message="tns:DecimalCheckMessageOut"
          wsa:Action="http://schemas.example.org/StringTypeCheck/DecimalCheckRequest"/>
    </wsdl:operation>
    

  </wsdl:portType>

  <wsdl:binding name="StringTypeCheckSoap12Binding" type="tns:StringTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="ObjectCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/StringTypeCheck/ObjectCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UriCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/StringTypeCheck/UriCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/StringTypeCheck/StringCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecimalCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/StringTypeCheck/DecimalCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="StringTypeCheck">
    <wsdl:port
        name="StringTypeCheckPort"
        binding="tns:StringTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/StringTypeCheck.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>