Test/Platform/Tests/CLR/DPWS/WSDL/TimeTypes.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/TimeTypeCheck"
    xmlns:tns="http://schemas.example.org/TimeTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/TimeTypeCheck"
        xmlns:tns="http://schemas.example.org/TimeTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">

      <!-- ========================================================== -->
      <!-- TypeCheck message -->
      <!-- This verfies handling of specific types by sending them
                 to the service and verifying the service echoes them back
                 correctly -->

      <xs:element name="TimeSpanCheckRequest" type="xs:duration" />
      <xs:element name="DateTimeCheckRequest" type="xs:dateTime" /> 
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="TimeSpanCheckMessageIn">
    <wsdl:part name="parameters" element="tns:TimeSpanCheckRequest" />
  </wsdl:message>
  <wsdl:message name="TimeSpanCheckMessageOut">
    <wsdl:part name="parameters" element="tns:TimeSpanCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DateTimeCheckMessageIn">
    <wsdl:part name="parameters" element="tns:DateTimeCheckRequest" />
  </wsdl:message>
  <wsdl:message name="DateTimeCheckMessageOut">
    <wsdl:part name="parameters" element="tns:DateTimeCheckRequest" />
  </wsdl:message>
  
  <wsdl:portType name="TimeTypeCheck">
    <wsdl:operation name="TimeSpanCheck">
      <wsdl:input
          message="tns:TimeSpanCheckMessageIn"
          wsa:Action="http://schemas.example.org/TimeTypeCheck/TimeSpanCheckRequest"/>
      <wsdl:output
          message="tns:TimeSpanCheckMessageOut"
          wsa:Action="http://schemas.example.org/TimeTypeCheck/TimeSpanCheckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="DateTimeCheck">
      <wsdl:input
          message="tns:DateTimeCheckMessageIn"
          wsa:Action="http://schemas.example.org/TimeTypeCheck/DateTimeCheckRequest"/>
      <wsdl:output
          message="tns:DateTimeCheckMessageOut"
          wsa:Action="http://schemas.example.org/TimeTypeCheck/DateTimeCheckRequest"/>
    </wsdl:operation>  
  </wsdl:portType>

  <wsdl:binding name="TimeTypeCheckSoap12Binding" type="tns:TimeTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="TimeSpanCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/TimeTypeCheck/TimeSpanCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateTimeCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/TimeTypeCheck/DateTimeCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TimeTypeCheck">
    <wsdl:port
        name="TimeTypeCheckPort"
        binding="tns:TimeTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/TimeTypeCheck.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>