Test/Platform/Tests/CLR/DPWS/WSDL/TypeTest.wsdl

<wsdl:definitions
    targetNamespace="http://schemas.example.org/AllTypeCheck"
    xmlns:tns="http://schemas.example.org/AllTypeCheck"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsf="http://schemas.xmlsoap.org/ws/2004/09/transfer">

  <wsp:Policy wsu:Id="Simple">
    <wsdp:Profile />
  </wsp:Policy>

  <wsdl:types>
    <xs:schema
        targetNamespace="http://schemas.example.org/AllTypeCheck"
        xmlns:tns="http://schemas.example.org/AllTypeCheck"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        blockDefault="#all">

      <!-- ========================================================== -->
      <!-- TypeCheck message -->
      <!-- This verfies handling of specific types by sending them
                 to the service and verifying the service echoes them back
                 correctly -->

      <xs:element name="TypeCheckRequest" type="tns:TypeCheckType" />
      <xs:complexType name="TypeCheckType">
        <xs:sequence>
          <!--xs:element name="ObjectCheck" type="xs:anyType" /-->
          <xs:element name="TimeSpanCheck" type="xs:duration" />
          <xs:element name="DateTimeCheck" type="xs:dateTime" />
          <xs:element name="BoolCheck" type="xs:boolean" />
          <xs:element name="ByteArrayCheck" type="xs:base64Binary" />
          <xs:element name="SingleCheck" type="xs:float" />
          <xs:element name="DoubleCheck" type="xs:double" />
          <xs:element name="UriCheck" type="xs:anyURI" />
          <xs:element name="StringCheck" type="xs:string" />
          <xs:element name="Int64Check" type="xs:long" />
          <xs:element name="Int32Check" type="xs:int" />
          <xs:element name="Int16Check" type="xs:short" />
          <!--xs:element name="SByteCheck" type="xs:byte" /-->
          <xs:element name="UInt64Check" type="xs:unsignedLong" />
          <xs:element name="UInt32Check" type="xs:unsignedInt" />
          <xs:element name="UInt16Check" type="xs:unsignedShort" />
          <xs:element name="ByteCheck" type="xs:unsignedByte" />
          <xs:element name="DecimalCheck" type="xs:decimal" />
          <xs:element name="UriListCheck" type="tns:UriListType" />
          <xs:any minOccurs="0" maxOccurs="unbounded"
              namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:complexType>
      <xs:element name="TypeCheckResponse" type="tns:TypeCheckResponseType" />
      <xs:complexType name="TypeCheckResponseType">
        <xs:sequence>
          <!--xs:element name="ObjectCheck" type="xs:anyType" /-->
          <xs:element name="TimeSpanCheck" type="xs:duration" />
          <xs:element name="DateTimeCheck" type="xs:dateTime" />
          <xs:element name="BoolCheck" type="xs:boolean" />
          <xs:element name="ByteArrayCheck" type="xs:base64Binary" />
          <xs:element name="SingleCheck" type="xs:float" />
          <xs:element name="DoubleCheck" type="xs:double" />
          <xs:element name="UriCheck" type="xs:anyURI" />
          <xs:element name="StringCheck" type="xs:string" />
          <xs:element name="Int64Check" type="xs:long" />
          <xs:element name="Int32Check" type="xs:int" />
          <xs:element name="Int16Check" type="xs:short" />
          <!--xs:element name="SByteCheck" type="xs:byte" /-->
          <xs:element name="UInt64Check" type="xs:unsignedLong" />
          <xs:element name="UInt32Check" type="xs:unsignedInt" />
          <xs:element name="UInt16Check" type="xs:unsignedShort" />
          <xs:element name="ByteCheck" type="xs:unsignedByte" />
          <xs:element name="DecimalCheck" type="xs:decimal" />
          <xs:element name="UriListCheck" type="tns:UriListType" /><xs:any minOccurs="0" maxOccurs="unbounded"
              namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:complexType>

      <xs:simpleType name="UriListType" >
        <xs:list itemType="xs:anyURI" />
      </xs:simpleType>

    </xs:schema>
  </wsdl:types>


  <wsdl:message name="TypeCheckMessageIn">
    <wsdl:part name="parameters" element="tns:TypeCheckRequest" />
  </wsdl:message>
  <wsdl:message name="TypeCheckMessageOut">
    <wsdl:part name="parameters" element="tns:TypeCheckResponse" />
  </wsdl:message>

  <wsdl:portType name="AllTypeCheck">
    <wsdl:operation name="TypeCheck">
      <wsdl:input
          message="tns:TypeCheckMessageIn"
          wsa:Action="http://schemas.example.org/AllTypeCheck/TypeCheckRequest"/>
      <wsdl:output
          message="tns:TypeCheckMessageOut"
          wsa:Action="http://schemas.example.org/AllTypeCheck/TypeCheckResponse"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="AllTypeCheckSoap12Binding" type="tns:AllTypeCheck">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Simple" wsdl:required="true" />
    <wsdl:operation name="TypeCheck">
      <wsoap12:operation
          soapAction="http://schemas.example.org/AllTypeCheck/TypeCheckRequest" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AllTypeCheck">
    <wsdl:port
        name="SimplePort"
        binding="tns:AllTypeCheckSoap12Binding">
      <wsoap12:address location="http://localhost/WebService/Simple.asmx" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>