Product/PDC2009/Device/SaveMyWine/Dpws/WineMonitorDevice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WineMonitorDevice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WineMonitorDevice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WineSensorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WineSensorData" nillable="true" type="tns:WineSensorData" />
</xs:schema>