Product/PDC09/Desktop/SilverlightWineMonitorApp/Service References/WineMonitorService/WineMonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://localhost/WineMonitorService/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://localhost/WineMonitorService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/WineMonitorService/Imports">
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorService.svc?xsd=xsd0" namespace="http://localhost/WineMonitorService/" />
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WineMonitorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWineMonitor_GetSensorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorData" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetSensorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlert" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetThresholdValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdValues" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetThresholdValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetWineSensorDataHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWineSensorDataHistory" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetWineSensorDataHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWineSensorDataHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetAlertHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlertHistory" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetAlertHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlertHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetThresholdHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdHistory" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetThresholdHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetWineCabinets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWineCabinets" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_GetWineCabinets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWineCabinetsResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_ChangeThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeThresholds" />
  </wsdl:message>
  <wsdl:message name="IWineMonitor_ChangeThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeThresholdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWineMonitor">
    <wsdl:operation name="GetSensorData">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetSensorData" message="tns:IWineMonitor_GetSensorData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetSensorDataResponse" message="tns:IWineMonitor_GetSensorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlert">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetAlert" message="tns:IWineMonitor_GetAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetAlertResponse" message="tns:IWineMonitor_GetAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThresholdValues">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetThresholdValues" message="tns:IWineMonitor_GetThresholdValues_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetThresholdValuesResponse" message="tns:IWineMonitor_GetThresholdValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWineSensorDataHistory">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetWineSensorDataHistory" message="tns:IWineMonitor_GetWineSensorDataHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetWineSensorDataHistoryResponse" message="tns:IWineMonitor_GetWineSensorDataHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlertHistory">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetAlertHistory" message="tns:IWineMonitor_GetAlertHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetAlertHistoryResponse" message="tns:IWineMonitor_GetAlertHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThresholdHistory">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetThresholdHistory" message="tns:IWineMonitor_GetThresholdHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetThresholdHistoryResponse" message="tns:IWineMonitor_GetThresholdHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWineCabinets">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetWineCabinets" message="tns:IWineMonitor_GetWineCabinets_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/GetWineCabinetsResponse" message="tns:IWineMonitor_GetWineCabinets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeThresholds">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/ChangeThresholds" message="tns:IWineMonitor_ChangeThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitor/ChangeThresholdsResponse" message="tns:IWineMonitor_ChangeThresholds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>