Product/PDC09/Device/WineSensorDevice/localhost.WineMonitorDevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://localhost/WineMonitorDevice/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://localhost/WineMonitorDevice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/WineMonitorDevice/Imports">
      <xsd:import schemaLocation="http://localhost:56152/WineMonitorDevice.svc?xsd=xsd0" namespace="http://localhost/WineMonitorDevice/" />
      <xsd:import schemaLocation="http://localhost:56152/WineMonitorDevice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56152/WineMonitorDevice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WineMonitorDevice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWineMonitorRequest_RequestUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdate" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorRequest_RequestUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorRequest_SetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThresholds" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorRequest_SetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThresholdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWineMonitorRequest">
    <wsdl:operation name="RequestUpdate">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorDevice/RequestUpdate" message="tns:IWineMonitorRequest_RequestUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorDevice/IWineMonitorRequest/RequestUpdateResponse" message="tns:IWineMonitorRequest_RequestUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThresholds">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorDevice/SetThresholds" message="tns:IWineMonitorRequest_SetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorDevice/IWineMonitorRequest/SetThresholdsResponse" message="tns:IWineMonitorRequest_SetThresholds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>