Product/PDC09/Device/WineSensorDevice/localhost.WineMonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://localhost/WineMonitorService/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://localhost/WineMonitorService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/WineMonitorService/Imports">
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorUpdate.svc?xsd=xsd0" namespace="http://localhost/WineMonitorService/" />
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorUpdate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52305/WineMonitorUpdate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WineMonitorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWineMonitorUpdate_RegisterWineCabinet_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterWineCabinet" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_RegisterWineCabinet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterWineCabinetResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_UpdateSensorData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSensorData" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_UpdateSensorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSensorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_UpdateThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateThresholds" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_UpdateThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateThresholdsResponse" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_Alert_InputMessage">
    <wsdl:part name="parameters" element="tns:Alert" />
  </wsdl:message>
  <wsdl:message name="IWineMonitorUpdate_Alert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlertResponse" />
  </wsdl:message>
  <wsdl:portType name="IWineMonitorUpdate">
    <wsdl:operation name="RegisterWineCabinet">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/RegisterWineCabinet" message="tns:IWineMonitorUpdate_RegisterWineCabinet_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/RegisterWineCabinetResponse" message="tns:IWineMonitorUpdate_RegisterWineCabinet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSensorData">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/UpdateSensorData" message="tns:IWineMonitorUpdate_UpdateSensorData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/UpdateSensorDataResponse" message="tns:IWineMonitorUpdate_UpdateSensorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateThresholds">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/UpdateThresholds" message="tns:IWineMonitorUpdate_UpdateThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/UpdateThresholdsResponse" message="tns:IWineMonitorUpdate_UpdateThresholds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alert">
      <wsdl:input wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/Alert" message="tns:IWineMonitorUpdate_Alert_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/WineMonitorService/IWineMonitorUpdate/AlertResponse" message="tns:IWineMonitorUpdate_Alert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>